#title_link:link {
	color: black;
	text-decoration: black;
}
#title_link:visited {
	color: black;
	text-decoration: black;
}
#title_link:hover {
	color: black;
	text-decoration: black;
}
#title_link:active {
	color: black;
	text-decoration: black;
}
h1 {
	text-align: center;
}
