.inter_form {
line-height: 400%;
}
br {
line-height: 150%;
}
input {
width: 100%; height: 2cm;
}
#first_digits {
width: 30%; height: 1.5cm;
}
#last_digits{
width: 30%; height: 1.5cm;
}
#instructions{
text-align: center;
font-size: 36px;
}
p {
font-size: 36px;
}
input[type = "text"] {
font-size:32px;
}
h1 {
text-align: center;
}
#name_first {
position: relative; bottom: 470px;
}
#name_last {
position: relative; bottom: 400px;
}
.digit {
text-align: center;
}
#first_digits {
position: relative; bottom: 330px;
}
#seperator {
font-size: 45px;
position: relative; bottom: 387.5px; left: 210px;
}
#last_digits {
position: relative; bottom: 448px; left: 250px;
}
#buyer {
position: relative; bottom: 360px;
}
#main_content {
position: relative; bottom: 20px;
}
#adjust_position {
position: relative; bottom: 10px;
}
#submit {
position: relative; bottom: 320px; left: 70px;
height: 1.8cm; width: 30%;
font-size: 36px; font-family: verdana; letter-spacing: 1px;
}
#back {
position: relative; bottom: 320px; left: 170px;
height: 1.8cm; width: 30%;
font-size: 36px; font-family: verdana; letter-spacing: 1px;
}
