h2 {
font-size: 48px;
}
p {
font-size: 36px;
}
#view {
position: relative; bottom: 60px; left: 30px;
width: 35%; height: 2cm;
font-size: 40px;
}
#back {
position: relative; bottom: 135px; left: 280px;
width: 35%; height: 2cm;
font-size: 40px;
}

#delivered {
position: relative; bottom: 35px;
}
#main_content {
position: relative; top: 20px;
}
#section2 {
position: relative; bottom: 20px;
}
#acquired {
position: relative; bottom: 30px;
}
#profit {
position: relative; bottom: 55px;
}
