.btn-xlg {
    padding: 18px 28px;
    margin: 20px;
    font-size: 48px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}